{% extends 'base.html.twig' %}

{% block title %}Subscriptions{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        <a href="{{ path('app_subscriptions_index') }}" class="bg-green-100 text-green-700 dark:bg-green-700 dark:text-white rounded-full px-2 py-1 text-xs font-medium">Retour</a>
        {{ include('subscriptions/_delete_form.html.twig') }}
    </div>
    <div class="w-full p-2 mt-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <h3 class="w-full flex items-center justify-between p-2 text-gray-900" style="background-color: #6b7280;">Bénévoles</h3>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Nom prénom</th>
                        <th scope="col" class="px-6 py-3">Email</th>
                        <th scope="col" class="px-6 py-3">Téléphone</th>
                        <th scope="col" class="px-6 py-3">Enfant</th>
                        <th scope="col" class="px-6 py-3">Classe</th>
                        <th scope="col" class="px-6 py-3">Disponibilités</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-6 py-4">{{ subscription.lastname ~ " " ~ subscription.firstname }}</td>
                        <td class="px-6 py-4">{{ subscription.email }}</td>
                        <td class="px-6 py-4">{{ subscription.phone }}</td>
                        <td class="px-6 py-4">{{ subscription.childName }}</td>
                        <td class="px-6 py-4">{{ subscription.class }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {# <a href="{{ path('app_subscriptions_edit', {'id': subscription.id}) }}">edit</a> #}
{% endblock %}
