{% extends 'base.html.twig' %}

{% block title %}Activité{% endblock %}

{% block body %}
    <a href="{{ path('app_activities') }}" class="bg-yellow-100 text-yellow-700 dark:bg-yellow-700 dark:text-white rounded-lg px-2 py-1 text-xs font-medium">Retour</a>

    <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-3">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg pb-3">
            <h3 class="w-full flex items-center justify-between p-2 text-gray-900 bg-emerald-200">Modication de {{ activity.name }}</h3>
            <br>
            <div class="mx-2">
                {{ form_errors(ActivitiesForm) }}

                {{ form_start(ActivitiesForm) }}
                    {{ form_row(ActivitiesForm.name, {
                            label: 'Nom d\'activité',
                            attr: {
                                class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ml-1 mr-1"
                            }
                    }) }}
                    {{ form_row(ActivitiesForm.description, {
                        label: 'Description',
                        attr: {
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ml-1 mr-1"
                        }
                }) }}

                <div class="flex flex-wrap justify-center mt-5">
                    <button type="submit" class="bg-green-100 text-green-700 dark:bg-green-700 dark:text-white rounded-full py-1 px-16">Enregistrer</button>
                </div>
                {{ form_end(ActivitiesForm) }}
            </div>
        </div>
    </div>
{% endblock %}
