{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<a href="{{ path('app_users') }}" class="bg-green-100 text-green-700 dark:bg-green-700 dark:text-white rounded-full px-2 py-1 text-xs font-medium">Retour</a>

<div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-3">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg pb-3">
        <h3 class="w-full flex items-center justify-between p-2 text-gray-900 bg-yellow-200">
            Modifcation {{ user.firstname }}  {{ user.lastname }}
        </h3>
        <br>
        <div class="mx-2">
            {{ form_errors(UserForm) }}

            {{ form_start(UserForm) }}
                {{ form_row(UserForm.email, {
                        label: 'Email',
                        attr: {
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ml-1 mr-1"
                        }
                }) }}
                {{ form_row(UserForm.firstname, {
                    label: 'Nom',
                    attr: {
                        class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ml-1 mr-1"
                    }
            }) }}
                {{ form_row(UserForm.lastname, {
                    label: 'Prénom',
                    attr: {
                        class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ml-1 mr-1"
                    }
            }) }}
                {{ form_row(UserForm.password, {
                    label: 'Mot de passe',
                    attr: {
                        class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ml-1 mr-1"
                    }
            }) }}

            <div class="flex flex-wrap justify-center mt-5">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-1 mr-1">Valider</button>
            </div>
            {{ form_end(UserForm) }}
        </div>
    </div>
</div>
{% endblock %}
